@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <main class="col">
            <h1>MVC Vue examples</h1>
            <p>Examples demonstrating Razor-generated views with Vue integration.</p>
            <ul class="list-group">
                <li class="list-group-item">@Html.ActionLink("Simple dropdown", "Index", "SimpleDropdown")</li>
                <li class="list-group-item">@Html.ActionLink("Cascading dropdowns", "Index", "CascadingDropdown")</li>
                <li class="list-group-item">@Html.ActionLink("Simple dropdown using Vue components", "Index", "SimpleDropdownUsingComponents")</li>
                <li class="list-group-item">@Html.ActionLink("Cascading dropdowns using Vue components", "Index", "CascadingDropdownUsingComponents")</li>
                <li class="list-group-item">@Html.ActionLink("Cascading dropdowns using reusable Vue components", "Index", "CascadingDropdownUsingReusableComponents")</li>
                <li class="list-group-item">@Html.ActionLink("Multiple rows using Vue instances", "Index", "MultipleRows")</li>
                <li class="list-group-item">@Html.ActionLink("Multiple rows using nested components", "Index", "MultipleRowsNestedComponents")</li>
            </ul>
        </main>
    </div>
</div>
