@{
    Layout = "_Layout";
}

@using ServiceStack
@model MVCVue.Models.CarBrandMultipleModel

<div id="vueApp" class="container-fluid">
    <div class="row">
        <main class="col">
            <h1>Cars</h1>
            <form asp-controller="Select2WithOptions" asp-action="Index" data-ajax="true" data-ajax-method="POST" data-ajax-update="#Updated">
                <div class="form-group row">
                    @Html.LabelFor(m => m.BrandIds, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-1">
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <button v-on:click="selectAllCurrentBrands" type="button" class="btn btn-outline-success">All Current</button>
                            <button v-on:click="selectAllPreviousBrands" type="button" class="btn btn-outline-success">All Previous</button>
                            <button v-on:click="clearSelectedBrands" type="button" class="btn btn-outline-success">Clear</button>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <vue-select2-multiple-managed class="form-control"
                                                      id="@Html.IdFor(m => m.BrandIds)"
                                                      name="@Html.NameFor(m => m.BrandIds)"
                                                      placeholder="Select a brand..."
                                                      v-bind:initial="[@Model.BrandIds.ToCsv()]"
                                                      v-bind:data-source="brands"
                                                      v-model="selectedBrandIds">
                        </vue-select2-multiple-managed>
                        <div v-if="!hasSelectedBrand" class="validation-error">
                            Please select a brand.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.ModelIds, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-1">
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <button v-on:click="selectAllCurrentModels" type="button" class="btn btn-outline-success">All Current</button>
                            <button v-on:click="selectAllPreviousModels" type="button" class="btn btn-outline-success">All Previous</button>
                            <button v-on:click="clearSelectedModels" type="button" class="btn btn-outline-success">Clear</button>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <vue-select2-multiple-managed class="form-control"
                                                      id="@Html.IdFor(m => m.ModelIds)"
                                                      name="@Html.NameFor(m => m.ModelIds)"
                                                      placeholder="Select a model..."
                                                      v-bind:initial="[@Model.ModelIds.ToCsv()]"
                                                      v-bind:data-source="models"
                                                      v-model="selectedModelIds">
                        </vue-select2-multiple-managed>
                        <div v-if="!hasSelectedModel" class="validation-error">
                            Please select a model.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button v-on:click="beforeSubmit" class="btn btn-primary" type="submit">Submit</button>
                        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>

            </form>
        </main>
    </div>
</div>

@section Scripts {
    <script src="/js/vue-templates.js"></script>
    <script src="/js/select2-with-options.js"></script>
}
