@{
    Layout = "_Layout";
}

@using ServiceStack
@model MVCVue.Models.CarBrandMultipleModel

<div id="vueApp" class="container-fluid">
    <div class="row">
        <main class="col">
            <h1>Cars</h1>
            <form asp-controller="CascadingDropdownVuex" asp-action="Index" data-ajax="true" data-ajax-method="POST" data-ajax-update="#Updated">
                <div class="form-group row">
                    @Html.LabelFor(m => m.BrandIds, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        <vue-select2-multiple-vuex class="form-control"
                                                      id="@Html.IdFor(m => m.BrandIds)"
                                                      name="@Html.NameFor(m => m.BrandIds)"
                                                      placeholder="Select a brand..."
                                                      v-bind:initial="[@Model.BrandIds.ToCsv()]"
                                                      v-bind:data-source="brands"
                                                      v-model="selectedBrandIds" 
                                                      mutation="increment1">
                        </vue-select2-multiple-vuex>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.ModelIds, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        <vue-select2-multiple-vuex class="form-control"
                                                      id="@Html.IdFor(m => m.ModelIds)"
                                                      name="@Html.NameFor(m => m.ModelIds)"
                                                      placeholder="Select a model..."
                                                      v-bind:initial="[@Model.ModelIds.ToCsv()]"
                                                      v-bind:data-source="models"
                                                      v-model="selectedModelIds"
                                                      mutation="increment2">
                        </vue-select2-multiple-vuex>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button v-on:click="selectedBrandIds = []" class="btn btn-warning" type="button">Clear</button>
                        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>

            </form>
        </main>
    </div>
</div>

@section Scripts {
    <script src="/js/vue-templates.js"></script>
    <script src="/js/cascading-dropdown-vuex.js"></script>
}
